@page "/"
@page "/help"


<div>
    <Paragraph>
        蚂蚁的企业级产品是一个庞大且复杂的体系。这类产品不仅量级巨大且功能复杂，而且变动和并发频繁，常常需要设计与开发能够快速的做出响应。同时这类产品中有存在很多类似的页面以及组件，可以通过抽象得到一些稳定且高复用性的内容。
    </Paragraph>
    
    <Title Level="2">创建族</Title>
    <Paragraph>
        支持<Text Strong>本地创建</Text>和<Text Strong>在线创建</Text>两种模式。
    </Paragraph>
    <Title Level="3">本地创建</Title>
    
    <Title Level="3">在线创建</Title>
    
    <Title Level="2">指派分组</Title>
    <Paragraph>
        我们提供完善的设计原则、最佳实践和设计资源文件（<Text Code>Sketch</Text> 和
        <Text Code>Axure</Text>），来帮助业务快速设计出高质量的产品原型。
    </Paragraph>
    <Title Level="2">更新PartNumber</Title>
    <Paragraph>
        我们提供完善的设计原则、最佳实践和设计资源文件（<Text Code>Sketch</Text> 和
        <Text Code>Axure</Text>），来帮助业务快速设计出高质量的产品原型。
    </Paragraph>
</div>